<div class="container arham">
    <div class="col-lg-6 offset-lg-3">
        <div class="welcome-message bg-light p-4 mt-5 pt-5 text-center shadow">
            <h1 class="mb-4" style="color: #00008B;">Welcome to Our Amazing Website!</h1>
            <p class="lead" style="color: #000000; font-weight: 400;">We're thrilled that you're here. Please fill out
                the form in navbar form menu to get started.</p>
        </div>
    </div>
</div>
<!-- <app-form></app-form>
<app-listning></app-listning> -->